.box-container_header{
  width: 2000px;
  background-color: black;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  height: 134px;
  padding: 0 36px;
}
.logo{
  height: 134px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.logo img {
  display: flex;
  align-items: center;
  height: 80px;
}
.nav_sup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
}
.nav_sup ul{
  display: flex;
}
li{
  display: flex;
  align-items: center;
  list-style: none;
  height: 134px;
}
li a{
  padding: 0 14px;
  text-decoration: none;
}
