.box-container_header{
  background-color: black;
  width: 2000px;
}
.container_header_nav{
  width: 1350px;
  display: flex;
  margin: 0 325px;
}
.header_nav {
  display: flex;
  gap: 410px;
  width: 1350px;
  height: 134px;
  padding: 0 36px;
}
.logo{
  height: 134px;
  display: flex;
  align-items: center;
}
.logo img {
  display: flex;
  align-items: center;
  height: 90px;
}
.nav_sup {
  display: flex;
  flex-direction: row;
}
.nav_sup_ul{
  display: flex;
  flex-direction: row;
}
.nav_sup ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav_sup ul li a{
  padding: 0 14px;
  text-decoration: none;
}
.menu-item-1{
  width: 150px;
}
.menu-item-2{
  width: 140px;
}
.menu-item-3{
  width: 80px;
}
.menu-item-4{
  width: 100px;
}